{% load static %}
<article class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2" style="height: 100px;">
                    <img src = "" alt = "Avatar" class="img-fluid">
                </div>
            <input class="form-control form-control-lg" type="number" value={{ question.likes.count }} placeholder=".form-control-lg" aria-label=".form-control-lg example">
            </div>

            <div class="col-9">
                <h5 class="card-title">
                    <a href="{% url 'question' question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">{{ question.text }}</p>
                <div class="d-flex gap-5">
                    Answer {{ question.answer_set.count }}
                    <div>
                        Tags:
                        {% for tag in question.tags.all %}
                        <a href="/tag/{{ tag.name }}" class="card-link">{{tag.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>