{% extends "layouts/base.html" %}
{%  load static %}
{%  block content %}
<div class="mb-1">
    <h1>New Question</h1>
    <p class="text-danger">Sorry, form error</p>
</div>

<div class="col-9 d-flex flex-column gap-3">
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="titleFormControlInput" style="max-width: 750px;" maxlength="85" placeholder="How to build a moon park?" >
    </div>
    <div class="mb-1">
        <label for="exampleFormControlTextarea1" class="form-label">Text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" style="max-width: 750px;" maxlength="1000" placeholder="Really,how?&#10;Have no idea about it" rows="14"></textarea>
    </div>
    <div class="mb-1">
        <label for="exampleFormControlInput1" class="form-label">Tags</label>
        <input type="text" class="form-control" placeholder="moon, park, puzzle" id="tagsFormControlInput" style="max-width: 750px">
    </div>
    <div class="mb-1">
        <button class="btn btn-primary"  type="submit">Ask</button>
    </div>
</div>
{% endblock %}
